<div id="pageContent">
    <div v-for="(v,i,z) in d.posts">
        <h1><a v-bind:href="v.url">{{v.name}}</a></h1>
        <div v-html="v.description" style="text-align:justify;"></div>
        <div class="postDetail">Posted on <span style="color:red;">{{v.postdate}}</span> by <span style="color:red;">{{v.author}}</span> in <span style="color:red;">{{v.categories}}</span></div>
    </div>
    <div id="pageNavigation">
        <span v-if="d.currentPage != 1">&lt;&lt;&nbsp;<a v-bind:href="d.previousLink" class="navLink">Previous</a>&nbsp;</span>
        <span class="pageNumber">Page {{d.currentPage}} of {{d.totalPages}}</span>
        <span v-if="d.currentPage < d.totalPages">&nbsp;<a v-bind:href="d.nextLink" class="navLink">Next</a>&nbsp;&gt;&gt;</span>
    </div>
</div>