<div id="app">
    <a v-bind:href="d.rootURL + '/index.html'"><div class="header" v-html="d.siteTitle"></div></a>
    <div>
        <div id="content" class="content"></div>
        <div class="menu" valign="top">
            <div style="margin-bottom:15px;"><input type="text" style="width:100%;" class="searchbox" placeholder="Search"/></div>
            <h3>Pages</h3>
            <ul><li v-for="(v,i,z) in d.pages"><a v-bind:href="d.rootURL + '/' + v.url">{{v.name}}</a></li></ul>
            <h3>Categories</h3>
            <ul><li v-for="(v,i,z) in d.categories"><a v-bind:href="d.rootURL + '/index.html?category=' + v">{{v}}</a></li></ul>
        </div>
    </div>
    <div class="footer" v-html="d.siteFooter"></div>
</div>