<script src="template\site.js"></script>
<script>
    function pageLoad(loadCompleteCallback) { 
        $.get("posts.json", function(data) { 
            var pageData = { "currentPage": 1, "totalPages": 1, "totalPosts": 0, "previousLink": "", "nextLink": "" }

            categoryVal = siteData.getQSCategory();
            pageVal = siteData.getQSPage();
            (pageVal == undefined) ? pageData.currentPage = 1 : pageData.currentPage = pageVal;

            data = (typeof data === "object") ? data : JSON.parse(data);
            if (categoryVal != undefined) {
                data = $.grep(data, function(n,i) { return n.categories.replace(" ","").split(',').includes(decodeURIComponent(categoryVal).replace(" ", "")); });
            }
            
            var postsPerPage = 1;
            pageData.totalPages = Math.ceil(data.length / postsPerPage);
            var startSlice = (pageData.currentPage == 1) ? 0 : (pageData.currentPage - 1) * postsPerPage;
            data = data.slice(startSlice, startSlice + postsPerPage);

            siteData.posts = data;

            pageData.previousLink = "index.html" + getPrevNavQueryString(pageData.currentPage, categoryVal);
            pageData.nextLink = "index.html" + getNextNavQueryString(pageData.currentPage, categoryVal, pageData.totalPages);
            var vuePage = new Vue({ el: '#pageNavigation', data: { d: pageData } });
        
            loadCompleteCallback();
        });
     }
     function getPrevNavQueryString (page, cat) {
        if (page == 1) {
            return (cat == undefined) ? "" : "?category=" + cat;
        }
        else {
            return (cat == undefined) ? "?page=" + (page - 1).toString() : "?page=" + (page - 1).toString() + "&category=" + cat;
        }
     }
     function getNextNavQueryString (page, cat, totalPages) {
        if (page == totalPages) {
            return (cat == undefined) ? "" : "?category=" + cat;
        }
        else {
            return (cat == undefined) ? "?page=" + (parseInt(page) + 1).toString() : "?page=" + (parseInt(page) + 1).toString() + "&category=" + cat;
        }
     }
</script>
<div id="pageContent">
    <div v-for="(v,i,z) in d.posts">
        <h1><a v-bind:href="v.url">{{v.name}}</a></h1>
        <div v-html="v.description"></div>
        <div style="margin-bottom:15px;margin-top:8px;font-size:13px;color:#707070;font-weight:bold;">Posted on <span style="color:red;">{{v.postdate}}</span> by <span style="color:red;">{{v.author}}</span> in <span style="color:red;">{{v.categories}}</span></div>
    </div>
    <div id="pageNavigation">
        <span v-if="d.currentPage != 1">&lt;&lt;&nbsp;<a v-bind:href="d.previousLink" style="color:red;font-weight:bold;text-decoration: underline;">Previous</a>&nbsp;</span>
        <span class="pageNumber">Page {{d.currentPage}} of {{d.totalPages}}</span>
        <span v-if="d.currentPage != d.totalPages">&nbsp;<a v-bind:href="d.nextLink" style="color:red;font-weight:bold;text-decoration: underline;">Next</a>&nbsp;&gt;&gt;</span>
    </div>
</div>