<div id="app">
    <div class="blogHeader">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td class="blogTitle" v-html="indexJSON.blogTitleHTML"></td>
                <td class="aboutMe" valign="bottom">about me</td>
            </tr>
        </table>
    </div>
    <div>
        <div id="pageContent" style="width:75%; float:left;padding-bottom:15px;">
            <div v-for="(d,i,z) in activePosts">
                <pre v-html="d.html"></pre>
            </div>
        </div>
        <div style="width:20%; float:left;padding-left:25px;" valign="top">
            <h3>Categories</h3>
            <ul>
                <li v-for="(d,i,z) in indexJSON.categories"><a href="#">{{d}}</a></li>
            </ul>
            <h3>Pages</h3>
            <ul>
                <li><a href="#">line 1</a></li>
            </ul>
        </div>
    </div>
    <div class="footer" v-html="indexJSON.blogFooterHTML"></div>
</div>