body { font-family: Muli; font-size:15px; margin-left: 10%; margin-right: 10%; }
h1 { font-family: Muli; font-size:22px; font-weight: bold; margin: 0px; }
h2 { font-family: Muli; font-size:20px; font-weight: bold; margin: 0px; }
h3 { font-family: Muli; font-size:18px; font-weight: bold; margin: 0px; margin-bottom:2px; }
a { color: #000000; cursor:pointer; text-decoration: none; font-family: Muli;  }
h1 a:hover { color:#000000; cursor:pointer; text-decoration: underline; font-family: Muli; }
li a { color:red; cursor:pointer; text-decoration: none; font-family: Muli; font-size:14px; }
ul { margin: 0px; border:0px; padding:0px;}
ul, ol { margin-top:0.2em;margin-right:0px;margin-bottom:1em;margin-left:1.2em; }
ul li { list-style: square; font-family: Muli; font-size:16px; padding-bottom:2px; }
p { text-align: justify; }
pre { font-family: Muli; font-size:14px; overflow: auto; border:1px solid #dadada; }
.header { padding-top: 15px; padding-bottom: 15px; font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif; 
          font-size:3.2em; font-weight:bold; color:red; letter-spacing: -0.05em; text-shadow: 1px 1px 0px rgba(0,0,0,0.3); }
.footer { clear:left;width:100%;text-align:center;padding:25px;border-top:1px solid #dadada; }
.content { width:75%; float:left;padding-bottom:15px; }
#pageContent { display:none; }
.menu { width:20%; float:left;padding-left:35px; }